body{
    --golden: #8f600a;
    --skyBlue: #289dd3;
    --darkGreen: #1d5a22;
    --darkRed: #942607;
    --darkIndigo: #1c8782;
    --brandColor: #dcba42;
}
body{
    background: #eeeeee;
}

.bg-golden{
    background-color: var(--golden) !important;
}
.bg-brand{
    background-color: var(--brandColor) !important;
}
.bg-sky-blue{
    background-color: var(--skyBlue) !important;
}

.bg-dark-green {
    background-color: var(--darkGreen) !important;
}
.bg-dark-red {
    background-color: var(--darkRed) !important;
}
.bg-dark-indigo {
    background-color: var(--darkIndigo) !important;
}
.text-dark-indigo {
    color: var(--darkIndigo) !important;
}
.text-dark-red {
    color: var(--darkRed) !important;
}
.text-red {
    color: #f35427 !important;
}
.text-sky-blue{
    color: var(--skyBlue) !important;
}
.text-brand{
    color: var(--brandColor);
}
.btn-close:focus{
    box-shadow: none;
}
.btn-brand{
    background: linear-gradient(90deg, #d19d00 0%, #fcef7a 100%) !important;
    padding: 8px 40px !important;
    text-align: center !important;
    transition: 0.5s !important;
    background-size: 200% auto !important;
    color: black !important;
    border: 0px !important;
    font-weight: 700 !important;
    box-shadow: 0px 0px 14px -7px #d19d00 !important;
    background-image: linear-gradient(45deg, #fcef7a 0%, #d19d00 51%, #fcef7a 100%) !important;
    cursor: pointer !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    width: 200px !important;
}

.btn-brand:hover{
    background-position: right center !important;
    color: black !important;
    text-decoration: none !important;
}
.alert{
    margin-bottom: 0 !important;
}

.alert-dismissible .btn-close {
    padding: 10px 20px !important;
    font-weight: 600;
    font-size: 18px;
}

.menu-icon i{
    font-size: 18px !important;
}

.sub-menu-bg{
    background-color: var(--golden) !important;
}

.sidebar-nav ul .sidebar-item .sidebar-link{
    opacity: 0.8 !important;
}

.custom-sidebar-link{
    color: #fff;
    padding: 14px 16px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    opacity: 0.8;
}

.custom-sidebar-link:hover{
    color: #fff;
    padding: 14px 16px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    line-height: 25px;
    opacity: 0.8;
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link{
    height: auto !important;
}
.hamburger-icon i{
    font-size: 20px !important;
    line-height: 0 !important;
    display: inline-block;
    /* margin-top: 25px !important; */
}
.user-icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-bottom: 3px solid var(--skyBlue);
    border-radius: 50%;
}
.user-name{
    color: var(--brandColor);
    font-size: 15px !important;
    font-weight: 600 !important;
}

.dropdown-item:hover{
    color: var(--skyBlue);
}

.dropdown-item:hover .log-out{
    letter-spacing: 2px;
    transition: all 0.3s ease;
    color: var(--skyBlue);
}

.active-menu{
    background-color: #9e6a0a;
}

.footer-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.scroll-height{
    height: 78vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll-height::-webkit-scrollbar {
    display: none;
  }
.card-icon{
    font-size: 25px !important;
}
.count-text{
    font-weight: bold;
    font-size: 20px !important;
}

.card-title{
    font-size: 16px !important;
}
.auth-screen{
    height: 100vh;
    overflow-y: auto;
}

.login-form{
    width: 30%;
    background-color: black;
    border-radius: 10px;
}

@media  (max-width:1199px) {
    .login-form{
        width: 45%;
    }
}
@media  (max-width:768px) {
    .login-form{
        width: 70%;
    }
}
@media  (max-width:574px) {
    .login-form{
        width: 85%;
    }
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: -1.625rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #3e5569;
    text-align: center;
    white-space: nowrap;
    background-color: #f8f9fa;
    /* border: 1px solid #e9ecef; */
    border-radius: 2px;
    border: none;
}
.custom-auth-input:focus{
    border: 2px solid var(--brandColor) !important;
    box-shadow: none !important;
}
.auth-btn:hover{
    background-color: var(--darkGreen) !important;
}
.home-icon{
    height: 100px;
    /* height: 200px; */
}
.home-login-btn{
    font-size: 16px;
    color: var(--skyBlue);
    /* border: 2px solid rgb(8, 145, 8); */
    padding: 8px 20px;
    font-weight: bold;
    opacity: 1;
    text-decoration: underline;
}
.home-register-btn{
    font-size: 16px;
    color: rgb(26, 177, 197);
    text-decoration: underline;
    /* border: 2px solid var(--skyBlue); */
    padding: 8px 20px;
    font-weight: bold;
    opacity: 1;
}

.home-register-btn:hover, .home-login-btn:hover {
    color: whitesmoke !important;
}
.base-form input{
    border: 1px solid #6b7280 !important;
}

.base-form input:focus{
    border: 1px solid var(--brandColor) !important;
    outline: none !important;
    box-shadow: none !important;
}
.base-form select{
    border: 1px solid #6b7280 !important;
    width: 100%;
}
.base-form select:focus{
    border: 1px solid var(--brandColor) !important;
    outline: none !important;
    box-shadow: none !important;
}
.base-form textarea{
    border: 1px solid #6b7280 !important;
    width: 100%;
}
.base-form textarea:focus{
    border: 1px solid var(--brandColor) !important;
    outline: none !important;
    box-shadow: none !important;
}
.file-input{
    padding-top: 6px !important;
    padding-left: 10px !important;
}
.base-pagination span, p{
    color:white !important;
    background: none !important;
    border-radius: 0 !important;
}
.base-pagination p{
    color:white !important;
    background: none !important;
    border-radius: 0 !important;
}
.base-pagination a{
    background: none !important;
    border: 1px solid var(--brandColor) !important;
    border-radius: 0 !important;
    color: white !important;
}


